MONGODB_URI=mongodb+srv://hasarangasamarakoon_db_user:Jby1JlykAGD1Zqw6@evermoss.sx3hmjw.mongodb.net/?appName=evermoss
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
JWT_SECRET=asasasassdfdefefdfdfdfdf
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=hasarangasamarakoon@gmail.com
SMTP_PASS=hnxz vlbe ruai gejp
SMTP_FROM=Evermoss <hasarangasamarakoon@gmail.com>
